body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #EEEEEE;
  font-family: "proxima-nova-1","proxima-nova-2","Proxima Nova",Gotham,"Helvetica Neue",Helvetica,sans-serif;
  font-size:  15px;
}
.navbar .nav {
    font-size: 20px;
    padding-top: 15px;
}
.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #FF0000;
    text-decoration: none;
}
img.image {
    border: medium none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 25px;
}
.centre {
	text-align: center;
}
.hero-unit {
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 30px 60px;
    border-radius: 20px 20px 20px 20px;
}
.hero-unit h1 {
    color: inherit;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 20px;
}
.hero-unit p {
    color: inherit;
    font-size: 16px;
    font-weight: 200;
    line-height: 21px;
}
footer {
    margin-top: 50px;
}
h2 a:hover {
    background-color: transparent;
    color: #FF0000;
    text-decoration: none;
}
h2 > a {
    color: #000000;
    float: none;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
blockquote {
    margin: 20px;
}
.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}