/* CSS Document */
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
strong {font-weight:bold;}
em {font-style:italic;}

a {
    outline: none; 
    text-decoration:none;
    color:#0066CC;
}

a:hover {text-decoration: none; color: red;}

html		{overflow-y:scroll;}
body		{font-family:Georgia, "Times New Roman", Times, serif; margin:0; color:#111; font-size:16px;}
h1			{font-size:20px; color: #949494}
h2			{font-size:16px; text-align:center; }
p,table,li			{
    font-size:16px;
    line-height:1.4em;
    color: #575757;
    font-family:"proxima-nova-1", "proxima-nova-2", "Proxima Nova", Gotham, "Helvetica Neue", Helvetica, sans-serif;
}
li			{font-size:14px; line-height:1.2em;}
small		{font-size:14px;}
.clear		{clear:both;}
.gap		{height:30px;}
.lucida		{font-family: "Lucida Grande", Tahoma; color:#FF0000;}
#wrap		{margin:0 auto; min-width:768px; max-width:1300px; padding:20px 40px 0 40px;}
#content	{margin:16px auto 0 auto; min-width:768px; max-width:1300px; padding:20px 40px; background-color:#EEE;}
#background {display:none; background-color:#EEE;}
.nowrap		{white-space:nowrap;}
.active {color: black;}

.class1			{
    width:22%;
    float:left;
    margin-right:4%;
}
    
.class1_last	{
    width:22%;
    float:left;
    margin-right:0;
}


/* HEADER */
#header			{
    text-align:center; 
    margin-top:-60px; 
}
#header h1		{letter-spacing:-2px; word-spacing:10px; margin:10px 0 -20px 0; line-height:1; }
#header h2		{

    font: 22px/1.5em "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; 
    padding:22px 0;
    color: #6F6F6F;
}

#header img {

    position: relative;
    margin-left: 21px;
    padding-top: 28px;
    top: 39px;
}

.img_right {
    float: right; 
    margin: 75px 4px 4px 50px;
    border: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}
.img_left {

    float: left; 
    margin: 25px 50px 40px 19px;
    border: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}
.img_map {
    float: right; 
    margin: -175px 108px 40px 50px;
    border: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}


}

span       {color:#FF0000;}

#main {
    padding-top: 30px;
    background: url(images/divider-lower.png) no-repeat center -1px;   
    background-size: 100%;
    margin-top : -30px ;
}

#main h1 {
    text-align : center ;
}

#main .left{
    text-align: left;
}

img.image {
    border: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 100%;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6);
}

.bold {
    font-weight: bold;
}

.right {
    padding-left: 20px;
    line-height : 1em ;
}

h1 .none {
    color: #949494;
}

h1 .none:hover {text-decoration: none; color: red;}

.centre {
    text-align: center;
}

.invisible {display : none ;}
.first {margin-top: 100px; margin-left: 50px;}
.block {margin-left: 50px; }

/* FOOTER */
#footer small		{font:12px/24px "Lucida Grande", Verdana, Tahoma;}
#footer				{
    margin:30px 0 10px 0;
    text-align:center; 
    padding-top : 6px ;
    color:#A8A8A8;
    background: url(images/divider-upper.png) no-repeat center -1px; 
    background-size: 100%;
    }
#content #footer	{color:#CCC; margin:0;}
